<%= render "layouts/errors", :object => @recipe %>

<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit :Submit %>
<% end %>

<p><%= link_to "Return to recipes", recipes_path %></p>
