<div class="title">
  <%= render "layouts/errors", :object => @recipe %>
</div>
<div>
  <%= form_for @recipe do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit :Submit %>
  <% end %>
</div>
<div class="title">
  <%= link_to "Return to recipes", recipes_path %>
</div>