<!DOCTYPE html>
<html>
  <head>
    <title>FoodPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

      <div id="nav">
        <a href="/">Home</a>
        <a href="/words">Words</a>
      </div>
    <div id="back-plate">


      <%= yield %>
    </div>
  </body>
</html>
