<!DOCTYPE html>
<html>
  <head>
    <title>Food Planner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav">
      <a href="/">Home</a>
      <a href="/ingredients">Ingredients</a>
      <a href="/recipes">Recipes</a>
    </div>
    <div id="back-plate">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
